<!-- Featueres section -->

<div class="row justify-content-center text-center mt-lg-3">
    <div class="col-lg-4">
        <img class="d-block mx-auto mb-3" src="images/descriptions.png" , width=250, height=150 alt="Bootstrap"
            padding=0>
        <h2 class="h2">Tab Summaries <small class="d-none">🛡️</small></h2>
        <p>Clear overviews of all open tabs and their content summaries enabling efficient navigation between different tabs.</p>
    </div>
    <div class="col-lg-4">
        <img class="d-block mx-auto mb-3" src="images/active.png" , width=200, height=150 alt="Bootstrap"
            padding=0>
        <h2 class="h2">Active/Inactive Status <small class="d-none">🚀</small></h2>
        <p>Easily see which tabs are active or inactive, enabling easy tab decluttering</p>
    </div>
    <div class="col-lg-4">
        <img class="d-block mx-auto mb-3" src="images/link.png" , width=200, height=75 alt="Bootstrap"
            padding=0>
        <h2 class="h2">Tab Hyperlinking<small class="d-none">📈</small></h2>
        <p>TabTracker can replace Chrome tab displays with hyperlinking that takes you directly to you desired tab by clicking on the tab name</p>
    </div>
</div>

<div class="row justify-content-center text-center mt-lg-3">
    <div class="col-lg-4">
        <h2 class="h2">Easy Decluttering<small class="d-none">🦉</small></h2>
        <p>Simple user interface that lets users delete all inactive tabs with just one button.</p>
    </div>
    <div class="col-lg-4">
        <h2 class="h2">Tab Search<small class="d-none">✨</small></h2>
        <p>Users can search for any tab in their browser through the extension, reducing the time taken find a desired tab.</p>
    </div>
    <div class="col-lg-4">
        <h2 class="h2">All Browser View<small class="d-none">🧰</small></h2>
        <p>Tabs are separated by browser placement, providing a holistic overview of all open Chome tabs.</p>
    </div>
</div>
